{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-default" href="{{ path('niveau_index') }}">Liste</a>
    <hr>
    <h1 class="page-header">Modifier un niveau</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    {#<ul>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
