<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <title>Infocampus</title>

    <link rel="stylesheet" href="{{ asset('bundles/infocampus/css/bootstrap.min.css') }}">
    <style>
        .dropdown-toggle {
            background: transparent;
            border: none;
            margin-top: 9px;
            color: white;
        }
    </style>

</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('acceuil') }}">InfoCampus</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="menu2" data-toggle="dropdown">Administration
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu list-group" role="menu" aria-labelledby="menu2">
                            <li class="list-item"><a href="{{ path('abonnes_index') }}">Abonnes</a></li>
                            <li class="divider"></li>
                            <li class="list-item"><a href="{{ path('facultes_index') }}">Facultes</a></li>
                            <li class="divider"></li>
                            <li class="list-item"><a href="{{ path('structures_index') }}">Structures</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Envoie Message
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation"><a role="menuitem" href="{{ path('messages_new') }}">Infocampus</a></li>
                            <li class="divider"></li>
                            <li role="presentation"><a role="menuitem" href="{{ path('message_infocampusplus') }}">Infocampus plus</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="row">
        {% for flash_message in app.session.flashbag.get('notice') %}
            <div class="alert alert-danger">{{ flash_message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
    <br>
    <br>
    <br>
    <br>

    <hr>
    <div class="row">
        <div class="col-xs-12">
            <footer>
                <p>&copy; Copyright Sanarsoft 2017</p>
            </footer>
        </div>
    </div>

</div>

<script src="{{ asset('bundles/infocampus/js/jquery-3.2.0.min.js') }}"></script>
<script src="{{ asset('bundles/infocampus/js/bootstrap.min.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
