{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-default" href="{{ path('structures_new') }}">Créer une structure</a>
    <h1 class="page-header">Structures list</h1>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for structure in structures %}
                <tr>
                    <td><a href="{{ path('structures_show', { 'id': structure.id }) }}">{{ structure.id }}</a></td>
                    <td>{{ structure.nom }}</td>
                    <td>

                                <a class="btn btn-success" href="{{ path('structures_show', { 'id': structure.id }) }}">show</a> |

                                <a class="btn btn-default" href="{{ path('structures_edit', { 'id': structure.id }) }}">edit</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
