{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-default" href="{{ path('messages_new') }}">Create un message</a>
    <h1 class="page-header">Liste des messages</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Objet</th>
                <th>Date</th>
                <th>Datereception</th>
                <th>Dateenvoi</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td><a href="{{ path('messages_show', { 'id': message.id }) }}">{{ message.id }}</a></td>
                <td>{{ message.libelle }}</td>
                <td>{{ message.objet }}</td>
                <td>{% if message.date %}{{ message.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if message.dateReception %}{{ message.dateReception|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if message.dateEnvoi %}{{ message.dateEnvoi|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ message.statut }}</td>
                <td>

                            <a class="btn btn-success" href="{{ path('messages_show', { 'id': message.id }) }}">details</a>

                            | <a class="btn btn-default" href="{{ path('messages_edit', { 'id': message.id }) }}">edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
